
imageio==2.19.3
imagesize==1.4.1
jinja2-time==0.2.0
matplotlib==3.5.2
numpy==1.21.3
pandas==1.4.4
plotly==5.9.0
scikit-image==0.19.2
sortedcollections==2.1.0
streamlit==1.21.0
streamlit-option-menu==0.3.2
streamlit-player==0.1.5
webdriver-manager==3.8.5
wordcloud==1.8.2.2
nltk==3.7
